body {
    background: #EDF0F7;
    color: #565656;
}

h1, h2, h3, h4, h5, h6 {
    color: #555555;
}

.bitcoin-color {
    color: #ff9900;
}

.monero-color {
    color: #ff6600;
}

.success-color {
    color: #598f5b;
}

.danger-color {
    color: #bd2130;
}

.top-bar {
    background: #4B7AA2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation {
    background: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.navigation ul li.nav-icon {
    background: #4B7AA2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0;
    color: #ffffff;
}

.navigation ul li a {
    color: #888888;
}

.navigation ul li.active > a {
    color: #ffffff;
    background: #4B7AA2;
}

.navigation ul li a:hover {
    background: #4B7AA2;
    color: #ffffff;
    transition: 0.2s;
}

.navigation ul li.nav-logo a:hover {
    background: transparent;
}

.navigation ul li.user-nav .balance .amount {
    color: #4B7AA2;
}

.container {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.box {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.container-middle-aligned .container {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.container .container-title {
    background: #4B7AA2;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset rgba(255,255,255,0.15) 0px 1px 0px;
}

.container .reply-title {
    background: white;
    color: #555555;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

input[type=text],
input[type=password] {
    border: 1px solid rgba(0, 0, 0, 0.175);
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    border-color: #4B7AA2;
    transition: 0.2s;
}

.form-control.invalid {
    border: 1px solid #dc3545;
}

.invalid-feedback {
    color: #dc3545;
}

.btn.btn-transparent {
    background: transparent;
    color: #4B7AA2;
}

.btn.btn-transparent:after {
    border-color: transparent;
    box-shadow: none;
}

.btn.btn-blue {
    background: #4B7AA2;
    color: white;
}

.btn.btn-danger {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}

.btn.btn-warning {
    color: #fff;
    background-color: #fb3;
}

.btn.btn-green {
    background: #598f5b;
    color: white;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger a,
.alert-success a,
.alert-primary a {
    font-weight: bold;
    color: #FFFFFF;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.badge-success {
    color: #fff;
    background-color: #598f5b;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-warning {
    background-color: #fb3!important;
    color: #fff!important;
}

.badge-black {
    background-color: #000000!important;
    color: #fff!important;
}

.message-table tr th {
    color: rgba(0, 0, 0, 0.7);
}

.message-table tr td a {
    color: #4B7AA2;
}

.message-table tr.pinned td {
    background: rgba(255, 243, 205, 0.4);
}

.page-link {
    color: #4B7AA2;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    color: #4B7AA2;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #4B7AA2;
    border-color: #4B7AA2;
}

.page-item.disabled .page-link {
    color: #6c757d;
    background-color: #fff;
    border-color: #dee2e6;
}

.orderDetails {
    background: #F5F7FB; 
    border-top: 1px solid rgba(0, 0, 0, 0.1); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    font-weight: 600;
}

.orderDetails .order-detail b{
    font-size: 17px;
}

.container.detail-block .amount {
    color: #4B7AA2;
}

.cart-table .upper-content td,
.cart-table .lower-content td {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right: none;
}

.shadow-text {
    color: rgba(0,0,0,.38);
}

code {
    display: block;
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    background: #EEE;
    border-radius: 3px;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0;
    margin: 1em 0;
}

.product-listing .product.sticky .container,
.product-listing .product.highlight .container {
    border: 2px solid #fb3;
}
